/__pycache__
/__pycache__/*

# Ignore mysecrets.py which contains sensitive connection details
mysecrets.py

# Ignore all local configuration files, except if they have the .sample.py extension
mynumbers*.py
myswitches*.py
mycontacts*.py
mystrings*.py
!*_sample.py

# Ignore output log files
*.log

# Ignore SQL files
*.sql
